<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h1>Hi {{currentUser.firstName}}!</h1>
            <p>You're logged in, welcome to dashboard</p>
            <h3>This is my testing</h3>

            <p><a [routerLink]="['/login']">Logout</a></p>
        </div>

        <div class="col-md-6 ">
            <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)">
            </canvas>
        </div>
    </div>
</div>